# common file patterns
.DS_STORE
.idea
*.iml
*.pyc
__pycache__
*.jar
*.class
.project
*.prefs

# excluded paths
.idea/*
.vscode/*
/logs/
/*/logs/
/fate-serving-admin/src/main/resources/public/
/*/target/
/fate-serving-admin-ui/node/
/fate-serving-admin-ui/node_modules/
/.fate/
/conf/
